{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="my-4 d-flex justify-content-center align-items-center vh-75">
    <div class="login-form-container">
        <h2 class="mb-5 text-center">Log In</h2>
        <div class="my-3">
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form }}
                <div class="d-flex justify-content-center mt-3">
                    <p class="me-3">Are you new user?</p>
                    <span>
                        <a href="{% url 'signup' %}">
                            Sign up
                        </a>
                    </span>
                </div>
                <button class="btn btn-primary mt-3 float-end" type="submit">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}