{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Blog app{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <main>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand" href="/">Django blog app</a>
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_create' %}">
                            <button class="btn btn-primary me-3">Add post</button>
                        </a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Log Out</button>
                        </form>
                        {% else %}
                        <a href="{% url 'login' %}">
                            <button class="btn btn-primary">Log In</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="my-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>