{% extends "base.html" %}
{% block title %}{% if post %}Post update {% else %} Post upload {% endif %}{% endblock %}

{% block content %}
{% if post %}
<h4>Post update</h4>
{% else %}
<h4>Post upload</h4>
{% endif %}

<div class="row">
    <div class="col-lg-6">
        <div class="post-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control mt-1" placeholder="Enter your title"
                        required value="{{ post.title }}">
                </div>
                <div class="form-group mt-3">
                    <label for="content" class="form-label">Post content</label>
                    <textarea name="content" id="content" class="form-control mt-1" rows="5"
                        placeholder="Enter post content" required>{{ post.content }}</textarea>
                </div>
                <div class="form-group mt-4">
                    {% if post %}
                    <button class="btn btn-success mb-4" type="submit">Update</button><br>
                    {% else %}
                    <button class="btn btn-success mb-4" type="submit">Create</button><br>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
